header{
    position: relative;
    width: 100vw;
    margin: 0;
    background-color:#ceacec;
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header *{
    margin-right: 30px;
}
.logo{
    margin-right: auto;
    margin-left: 30px;
}
.logo-img{
    height: 30px;
}