header{
    position: relative;
    width: 100vw;
    margin: 0;
    background-color:#ceacec;
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header *{
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
.logo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30px;
}
.logo-img{
    height: 30px;
    margin-right: 10px;
}
.logo-text{
    text-decoration: none;
}
.add-post:hover, .help:hover{
    text-decoration: underline;
    text-decoration-color: #4d4d4d;
    color: #4d4d4d;
}

.logo-img:hover{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media screen and (max-width: 400px){
    .logo-text{
        display: none;
    }
}