.container{
    width: 100vw;
    min-height: 100vh;
    background: rgb(132,171,249);
    background: linear-gradient(45deg, rgba(132,171,249,1) 0%, rgba(206,172,236,1) 50%, rgba(240,108,208,1) 100%);
    text-align: center;
}
.landing-logo{
    position: fixed;
    top: 10px;
    left: 20px;
    height: 30px;
}
.landing-info{
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	height: fit-content;
	margin: auto;
}