.results{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0;
    list-style: none;
}
.result{
    background-color: white;
    border: thick double #ceacec;
    border-radius: 2px;
    margin: 15px auto;
    padding: 10px;
}
.result > a{
    text-decoration: none;
}
.result > a:hover{
    text-decoration: underline;
}
.result > p{
    text-align: left;
}